.container {
    margin-top: 30px;
}

.add-pokemon {
    margin-bottom: 30px;
}

.list-pokemon {
    margin-bottom: 50px;
}

.btn-add-pokemon {
    margin-right: 10px;
}

.card-pokemon{
    width: 320px;
    height:  420px;
    display: flex;
    justify-content: center;
}

.imagem-pokemon{
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

.button-card{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.button-crud {
    display: flex;
    justify-content: end;
    align-content: center;
}

.col-pokemon{
    flex-grow: 0;
}